body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo-header-logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
}

.header-logo,
.logo-part {
    color: #2E2F42;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;

}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero-image {
    background: #2E2F42;
}

.text-hero {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
}

.btn-order {
    background: #4D5AE5;
    color: #FFFFFF;
    ;
}

.strategy,
.punctuality,
.diligence,
.technologies {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.text-strategy,
.text-punctuality,
.text-diligence,
.text-technologies {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    ;
}

.page-footer {
    background: #2E2F42;
}

.logo-part-footer {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;

}